.draggables-collapser {
  position: relative;
  width: 40px;
  height: 100%;
  cursor: pointer;
  float: none;
  margin: 0 5px 0;
}

.theme-seven .draggables-collapser {
  float: left;
}

.theme-claro .draggables-collapser {
  display: table-cell;
  padding: 0 10px;
  width: auto;
}

.theme-claro .tabledrag-cell-content__item .menu-item__link {
  padding: 0 25px;
}

.draggables-collapser.state-has-no-children {
  visibility: hidden;
}

.draggables-collapser:after {
  position: absolute;
  right: 25%;
  width: 16px;
  height: 16px;
  content: "";
  transform: translate(0%, -50%) rotate(180deg);
  transition: transform 0.12s ease-in 0s;
  background-color: black;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M4 8l8 8 8-8' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M4 8l8 8 8-8' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
}

.theme-seven .draggables-collapser:after,
.theme-claro .draggables-collapser:after {
  margin-top: 10px;
}

.draggables-collapser.state-expanded:after {
  transform: translate(0%, -50%) rotate(180deg);
}

.draggables-collapser.state-collapsed:after {
  transform: translate(0%, -50%) rotate(0deg);
}

.collapsible-dnd--hidden-td * {
  display: none;
}

.collapsible-dnd--hidden-td {
  padding: 0;
  display: none;
}

.draggable a.tabledrag-handle {
  margin-right: 20px;
}
